* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ere-container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.ere-context-menu {
  position: absolute;
  border-radius: 8px;
  width: min-content;
  background: #fff;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  z-index: 9999;
}
.ere-context-menu svg {
  width: 16px;
}
.ere-context-menu > ul > li {
  display: block;
  padding: 8px 10px 8px 10px;
  cursor: pointer;
  position: relative;
  min-width: 120px;
}
.ere-context-menu ul li:hover {
  background: rgb(239, 239, 239);
}
.ere-context-menu ul > li > div,
.ere-context-menu ul > li > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ere-context-menu ul > li > div > span,
.ere-context-menu ul > li > div > div > span {
  margin-left: 5px;
}
.subMenus-group {
  justify-content: space-between;
  align-items: center;
}
.subMenus {
  position: absolute;
  border-radius: 8px;
  width: min-content;
  background: #fff;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  right: -100px;
  top: -35px;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.subMenus li {
  display: block;
  padding: 8px 20px 8px 10px;
  cursor: pointer;
  position: relative;
}
.ere-context-menu > ul > li:hover .subMenus {
  visibility: visible;
}
